/* Params */

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf');
    font-weight: 500 700;
}

@font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/fraunces/Fraunces-VariableFont_wght.ttf');
    font-weight: 700;
}

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Body Styles */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
}

/* Card Styles */

.product-card {
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    display: flex;
}

.product-image {
    width: 50%;
    height: auto; 
    object-fit:unset; 
    object-position: center; 
}

.product-content {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-category {
    font-size: 0.75rem;
    letter-spacing: 5px;
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}

.product-title {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: var(--very-dark-blue);
    margin-bottom: 1.5rem;
    line-height: 1;
}

.product-description {
    font-size: 0.875rem;
    color: var(--dark-grayish-blue);
    line-height: 1.6;
    margin-bottom: 1.75rem;
    opacity: 0.8;
    font-weight: 530;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 1.75rem;
}

.current-price {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: var(--dark-cyan);
}

.original-price {
    font-size: 0.8125rem;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.add-to-cart {
    width: 100%;
    background-color: var(--dark-cyan);
    color: var(--white);
    border: none;
    border-radius: 8px;
    padding: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover Effects */
.add-to-cart:hover {
    background-color: hsl(158, 36%, 20%);
    }

.product-card:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Responsive Styles */
@media (max-width: 650px) {
    .product-card {
    flex-direction: column;
    max-width: 345px;
    }
    
    .product-image {
    width: 100%;
    height: auto; 
    max-height: 300px;
    object-fit: contain;
    }
    
    .product-content {
    width: 100%;
    padding: 1.5rem;
    }
    
    .product-title {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    }
    
    .price-container {
    margin-bottom: 1rem;
    }
    }


